@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Head")
</head>

<body style="margin:0px;" data-lang="EN" data-country="BY">
<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="1111832" data-tilda-page-id="4800162" data-tilda-mode="preview">
    
@Html.Partial("_Header")
@Html.Partial("_Slider")
@Html.Partial("_Features")
@Html.Partial("_ServicesAndPrice")
@Html.Partial("_Gallery")
@Html.Partial("_LinkToSocialNetwork")
@Html.Partial("_AboutUs")
@Html.Partial("_Contacts")
@Html.Partial("_GoogleMap")
@Html.Partial("_LocalMap")
@Html.Partial("_Footer")
</body>
</html>
