@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Head")
   
</head>

<body style="margin:0px;" data-lang="EN" data-country="BY">

    <!--allrecords-->
    <div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="1111832" data-tilda-page-id="4800162" data-tilda-mode="preview">

        @Html.Partial("_Header")
        @Html.Partial("_Slider")
        @Html.Partial("_Features")
        @Html.Partial("_ServicesAndPrice")
        @Html.Partial("_Gallery")
        @Html.Partial("_LinkToSocialNetwork")





      @*  <div id="rec87215375" class="r t-rec t-rec_pt_60 t-rec_pb_45" style="padding-top:60px;padding-bottom:45px;background-color:#fcfbf7; " data-record-type="478" data-bg-color="#fcfbf7">


            <!-- T478 -->
            <div style="width: 0; height: 0; overflow: hidden;">
                <div class="t478__sizer t-col t-col_6" data-auto-correct-mobile-width="false" style="height:560px;"></div>
            </div>

            <div class="t478">
                <div class="t-container">
                    <div class="t478__top t-col t-col_6 ">
                        <div class="t478__textwrapper t-align_left" style="height:560px;">
                            <div class="t478__content t-valign_middle">
                                <div class="t478__box">
                                    <div class="t478__title t-title t-title_xs " field="title" style="">О нас<br /></div>                                    <div class="t478__descr t-descr t-descr_md " field="descr" style="max-width:500px;">«Бюро Бьюти». Это студия красоты в новом формате с акцентом на маникюр и моделирование бровей. Здесь за чашечкой кофе клиенткам предлагают полный спектр услуг от профессиональных мастеров. Интерьер студии простой и лаконичный: много света, скандинавский стиль и большие панорамные окна. Бьюти-пространство выполнено в контрастных черно-белых тонах. В такой обстановке клиентам предлагают сделать маникюр, педикюр, окрашивание бровей,наращивание ресниц или другие бьюти-процедуры.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-col t-col_6 ">
                        <div class="t478__blockimg t-bgimg" data-original="https://static.tildacdn.com/tild3530-3936-4636-a263-616133633265/photo_2019-02-10_20-.jpg" bgimgfield="img" style="background-image:url('https://static.tildacdn.com/tild3530-3936-4636-a263-616133633265/photo_2019-02-10_20-.jpg'); height:560px;"></div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                $(window).resize(function () {
                    if (typeof window.noAdaptive != "undefined" && window.noAdaptive == true && $isMobile) { return; }
                    t478_setHeight('87215375');
                });
                $(document).ready(function () {
                    t478_setHeight('87215375');

                });
                $('.t478').bind('displayChanged', function () {
                    t478_setHeight('87215375');
                });

            </script>

        </div>*@


        <div id="rec87215377" class="r t-rec t-rec_pb_0" style="padding-bottom:0px; " data-record-type="215">
            <a name="contacts" style="font-size:0;"></a>
        </div>


        <div id="rec87215378" class="r t-rec t-rec_pt_60 t-rec_pb_30" style="padding-top:60px;padding-bottom:30px;background-color:#141414; " data-record-type="551" data-bg-color="#141414">
            <!-- t551-->



            <div class="t551">
                <div class="t-container">
                    <div class="t-col t-col_6 t-prefix_3 t-align_center">
                        <div class="t551__contacts t-title t-title_xxs" style="color:#ffffff;" field="text" data-animate-order="2" data-animate-delay="0.3"><div style="font-family:'Georgia';" data-customstyle="yes">Контакты:<br /><span style="font-weight: 100;"><br />+37529 6591807<br />+37529 1110430<br />ул.Кирилла Туровского,6.<br />ТЦ Променад, пом. 127<br />@Html.Raw("@")buro_beauty_<br />@Html.Raw("burobeauty2017@gmail.com")</span><br /></div></div>
                        <div class="t-sociallinks">
                            <div class="t-sociallinks__wrapper">
                                <div class="t-sociallinks__item">
                                    <a href="https://www.instagram.com/buro_beauty_/" target="_blank">
                                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve"><desc>Instagram</desc><path style="fill:#ffffff;" d="M16.396,3.312H8.604c-2.921,0-5.292,2.371-5.292,5.273v7.846c0,2.886,2.371,5.256,5.292,5.256h7.791c2.922,0,5.292-2.37,5.292-5.274V8.586C21.688,5.683,19.317,3.312,16.396,3.312L16.396,3.312z M7.722,12.5c0-2.64,2.142-4.778,4.778-4.778c2.636,0,4.777,2.138,4.777,4.778s-2.142,4.777-4.777,4.777C9.864,17.277,7.722,15.14,7.722,12.5zM17.756,8.182c-0.615,0-1.104-0.487-1.104-1.102s0.488-1.103,1.104-1.103c0.614,0,1.102,0.488,1.102,1.103S18.37,8.182,17.756,8.182L17.756,8.182z" /><path style="fill:#ffffff;" d="M12.5,9.376c-1.731,0-3.124,1.398-3.124,3.124c0,1.725,1.393,3.124,3.124,3.124c1.732,0,3.124-1.399,3.124-3.124C15.624,10.775,14.211,9.376,12.5,9.376L12.5,9.376z" /></svg>
                                    </a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div id="rec87215379" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="125">
            <!-- T117 -->
            <div class="t117">
                <div class="t-width t-width_100 t-margin_auto">
                    <div class="t117_map">
                        <div class="t-map" id="separateMap87215379" data-map-language="" data-map-x="55.751979" data-map-y="37.617499" data-map-zoom="14" data-map-title="Moscow" style="width:100%; height:365px;"
                             data-map-style='[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]'></div>

                        <script type="text/javascript">
                            var arMapMarkers87215379 = [
                                {
                                    title: "Минск",
                                    descr: "",
                                    lat: "53.93281245474775",
                                    lng: "27.65491760439204",
                                },
                            ];

                            $(document).ready(function () {
                                t_appendGoogleMap("87215379", "");
                            });

                        </script>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                var fireRefreshEventOnWindow = function () {
                    var evt = document.createEvent("HTMLEvents");
                    evt.initEvent('resize', true, false);
                    window.dispatchEvent(evt);
                };
                $('.t117').bind('displayChanged', function () {
                    fireRefreshEventOnWindow();
                });

            </script>
        </div>


        <div id="rec87383162" class="r t-rec" style=" " data-animationappear="off" data-record-type="160">
            <!-- T148 -->
            <!-- cover -->





            <div class="t-cover" id="recorddiv87383162" bgimgfield="img" style="height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ">

                <div class="t-cover__carrier" id="coverCarry87383162" data-content-cover-id="87383162" data-content-cover-bg="https://static.tildacdn.com/tild3230-3533-4639-a430-396535383363/Map.jpg" data-content-cover-height="100vh" data-content-cover-parallax="" style="background-image:url('https://static.tildacdn.com/tild3230-3533-4639-a430-396535383363/Map.jpg');height:100vh;background-attachment:scroll; "></div>

                <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fe000000', endColorstr='#fe000000');"></div>

                <div class="t148">
                    <div class="t-container_100">
                        <div class="t-cover__wrapper t-valign_bottom" style="height:100vh;">
                            <div class="t148__title t-text t-text_sm" style="" field="title">If a building becomes architecture, then it is art</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div id="rec87380503" class="r t-rec t-rec_pt_15 t-rec_pb_60" style="padding-top:15px;padding-bottom:60px;background-color:#171717; " data-record-type="463" data-bg-color="#171717">
            <!-- T463 -->



            <div class="t463" id="t-footer_87380503">
                <div class="t463__maincontainer ">
                    <div class="t463__content" style="">
                        <div class="t463__colwrapper">
                            <div class="t463__col">
                                <a href="/" style="color:#ffffff;font-size:20px;font-weight:600;">
                                    <img src="https://static.tildacdn.com/tild3834-3834-4339-b565-616533653863/IMG_1824.jpg" class="t463__logo t463__img" imgfield="img" alt="">
                                </a>
                            </div>

                            <div class="t463__col t463__col_center t-align_center">
                                <div class="t463__typo t463__copyright t-name t-name_xs" field="text" style="color: #ffffff;">
                                    <div style="font-family:'Georgia';" data-customstyle="yes">© All rights reserved</div>
                                </div>
                            </div>

                            <div class="t463__col t-align_right">
                                <div class="t-sociallinks">
                                    <div class="t-sociallinks__wrapper">
                                        <div class="t-sociallinks__item">
                                            <a href="https://www.instagram.com/buro_beauty_/" target="_blank">
                                                <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve"><desc>Instagram</desc><path style="fill:#ffffff;" d="M16.396,3.312H8.604c-2.921,0-5.292,2.371-5.292,5.273v7.846c0,2.886,2.371,5.256,5.292,5.256h7.791c2.922,0,5.292-2.37,5.292-5.274V8.586C21.688,5.683,19.317,3.312,16.396,3.312L16.396,3.312z M7.722,12.5c0-2.64,2.142-4.778,4.778-4.778c2.636,0,4.777,2.138,4.777,4.778s-2.142,4.777-4.777,4.777C9.864,17.277,7.722,15.14,7.722,12.5zM17.756,8.182c-0.615,0-1.104-0.487-1.104-1.102s0.488-1.103,1.104-1.103c0.614,0,1.102,0.488,1.102,1.103S18.37,8.182,17.756,8.182L17.756,8.182z" /><path style="fill:#ffffff;" d="M12.5,9.376c-1.731,0-3.124,1.398-3.124,3.124c0,1.725,1.393,3.124,3.124,3.124c1.732,0,3.124-1.399,3.124-3.124C15.624,10.775,14.211,9.376,12.5,9.376L12.5,9.376z" /></svg>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="rec87380205" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; " data-record-type="219">
            <!-- T191 -->
            <div class="t191">
                <div class="t-align_center">
                    <hr class="t191__line t-width t-width_2" style="background-color:#000000;opacity:0.2;">
                </div>
            </div>
        </div>

    </div>
    <!--/allrecords-->

</body>
</html>
