@model BuroBeauty.DB.Entities.OrderDetails



@{
    ViewBag.Title = "";
}

<h2></h2>

<h3>Вы точно хотите удалить данную запись ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
    <dt>
        Наименование услуги
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ServiceName)
    </dd>
         
    <dt>
        Фамилия Мастера
    </dt>
    <dd>
        @Html.DisplayFor(model => model.MasterFullName)
    </dd>

    <dt>
        Стоимость услуги
    </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceAmount)
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>

