@model BuroBeauty.DB.Entities.OrderDetails


@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            Наименование услуги
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        
        <dt>
            Фамилия Мастера
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MasterFullName)
        </dd>

        <dt>
           Стоимость услуги
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceAmount)
        </dd>

        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться назад", "Index")
</p>
