@model List<BuroBeauty.DB.Entities.OrderListItem>
@{
    ViewBag.Title = "Index";
}

<h5>Nail,Brow,Eyelashes</h5>



@using (Html.BeginForm("Index", "Order", FormMethod.Post, new
{
    @id = "date_form", autocomplete = "off"}))
{
    <input type="text" autocomplete="false" id="datepicker" name="date" readonly="readonly" value="@ViewBag.SelectedDate.ToString("MM/dd/yyyy")" />
}




<p style="top:30%; left:73%">
    @Html.ActionLink("Добавить новую услугу", "Create")
</p>

<table class="table">
    <style type="text/css">
        TABLE {
            width: 300px; /* Ширина таблицы */
            border: 1px solid black; /* Рамка вокруг таблицы */
            border-bottom: none; /* Убираем линию снизу */
        }

        TD, TH, TR {
            padding: 3px; /* Поля вокруг содержимого ячеек */
        }

        TH {
            text-align: left; /* Выравнивание по левому краю */
            background: white; /* Цвет фона */
            color: black; /* Цвет текста */
            border-bottom: 1px solid black; /* Линия снизу */
        }

        TD {
            border-bottom: 1px solid black; /* Линия снизу */
        }
    </style>

    <tr>
        <th>
            Наименование Услуги:
        </th>
        <th>
            Дата:
        </th>
        <th>
            Сумма:
        </th>
        <th>
            Мастер:
        </th>
        <th>
            Дополнительные функционал:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceAmount)  р.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterFullName)
            </td>
            <td>
                <u> @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })</u>
                <u> @Html.ActionLink("Детали", "Details", new { id = item.Id })</u>
                <u> @Html.ActionLink("Удалить", "Delete", new { id = item.Id })</u>
            </td>
        </tr>
    }

    <tr>
        <td></td>
        <td><b>Итого</b></td>
        <td colspan="3"> @ViewBag.Total р. </td>
    </tr>
</table>

@section head_scripts{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").change(function () {
                $("#date_form").submit();
            })
        })
    </script>
}