@model List<BuroBeauty.DB.Entities.Dto.Master.MasterDayIncomeSummaryDto>

<h2>Расчёт мастеров за день</h2>

@using (Html.BeginForm("Index", "CalculationOfMastersController", FormMethod.Post, new
{
    @id = "date_form",
    autocomplete = "off"
}))
{
    <input type="text" autocomplete="false" id="datepicker" name="date" readonly="readonly" value="@ViewBag.SelectedDate.ToString("MM/dd/yyyy")" />
}

<table class="table">
    <style type="text/css">
        TABLE {
            width: 200px; /* Ширина таблицы */
            border: 1px solid black; /* Рамка вокруг таблицы */
            border-bottom: none; /* Убираем линию снизу */
        }

        TD, TH, TR {
            padding: 3px; /* Поля вокруг содержимого ячеек */
        }

        TH {
            text-align: left; /* Выравнивание по левому краю */
            background: white; /* Цвет фона */
            color: black; /* Цвет текста */
            border-bottom: 1px solid black; /* Линия снизу */
        }

        TD {
            border-bottom: 1px solid black; /* Линия снизу */
        }
    </style>
    <tr>
        <th>
            Мастер:
        </th>
        <th>
            Общая сумма за день:
        </th>
        <th>
            Процент Мастера:
        </th>
        <th>
            Заработок Мастера за день:
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MasterFullName
            </td>
            <td>
                @item.TotalAmount р.
            </td>
            <td>
                @item.Percent %
            </td>
            <td>
                @item.AmountIncome р.
            </td>
        </tr>
    }
    <tr>
        <td><b>Итого за день: </b></td>
        <td> @ViewBag.Total р.</td>
        <td> </td>
        <td> @ViewBag.MastersTotal р.</td>
    </tr>
    <tr>
        <td><b>Итого Бюро заработало за день: </b></td>
        <td colspan="3"> @ViewBag.BuroTotal р.</td>
    </tr>
</table>

    @section head_scripts{

        <script>
            $(function() {
                $("#datepicker").datepicker();
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#datepicker").change(function() {
                    $("#date_form").submit();
                })
            })
        </script>
    }